name: Backup Vault Raft Data

on:
  workflow_dispatch:  # Enable manual triggering
  push:
    branches:
      - master  # Trigger on pushes to the main branch

jobs:
  backup-vault:
    runs-on: [ self-hosted, azure ]

    outputs:
      value: ${{ steps.ssh-vault-vm.outputs.raft-snapshot }}

    env:
      TIMESTAMP: ''

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: SSH into Azure VM
        id: ssh-vault-vm
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VAULT_IP }}
          username: ${{ secrets.VAULT_USER }}
          key: ${{ secrets.VAULT_PRIVATE_KEY }}
          script: |
            export VAULT_TLS_SERVER_NAME=vault-az-np.tools.dcsg.com
            # Commands to execute on the Azure VM
            vault operator raft list-peers 
            
            # Generate a timestamp
            export TIMESTAMP=$(date +"%Y%m%d%H%M%S")
            
            # Command to backup Vault Raft data & Save snapshot with timestamp in the name
            vault operator raft snapshot save /vault/raft/raft/snapshots/backup_${timestamp}.snap
            
            # Output the snapshot file path
            echo "::set-output name=raft-snapshot::/vault/raft/raft/snapshots/backup_${TIMESTAMP}.snap"

      - name: Upload Snapshot to Azure Storage
        uses: azure/CLI@v1
        with:
          azcliversion: 2.0.78
          inlineScript: |
            new_snapshot=${{ needs.ssh-vault-vm.outputs.raft-snapshot }}
      
            az login --service-principal --username ${{ secrets.ARM_CLIENT_ID }} --password ${{ secrets.ARM_CLIENT_SECRET }} --tenant ${{ secrets.ARM_TENANT_ID }}
      
            az storage blob upload \
              --account-name ${{ secrets.ARM_SA }} \
              --container-name raftbackup \
              --name backup_${TIMESTAMP}.snap \
              --type block \
              --file "$new_snapshot"
