name: Backup Vault Raft Data

on:
  workflow_dispatch:  # Enable manual triggering
  push:
    branches:
      - master  # Trigger on pushes to the main branch

jobs:
  backup-vault:
    runs-on: [ self-hosted, azure ]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup Vault
        uses: hashicorp/vault-action@v2
        with:
          url: https://vault-az-np.tools.dcsg.com
          token: ${{ secrets.VAULT_TOKEN }}

      - name: Install Vault
        run: |
          wget -O- https://apt.releases.hashicorp.com/gpg | sudo gpg --dearmor -o /usr/share/keyrings/hashicorp-archive-keyring.gpg
          echo "deb [signed-by=/usr/share/keyrings/hashicorp-archive-keyring.gpg] https://apt.releases.hashicorp.com $(lsb_release -cs) main" | sudo tee /etc/apt/sources.list.d/hashicorp.list
          sudo apt update && sudo apt install vault
          vault --version

      - name: SSH into Vault Server
        run: |
          ssh -i ${{ secrets.VAULT_PRIVATE_KEY }} ${{ secrets.VAULT_USER }}@${{ secrets.VAULT_IP }}
          vault operator raft list-peers -tls-server-name="vault-az-np.tools.dcsg.com"
          
      # - name: Backup Vault Raft Data    
      #   run: |
      #     # Generate a timestamp
      #     timestamp=$(date +"%Y%m%d%H%M%S")
          
      #     # Command to backup Vault Raft data & Save snapshot with timestamp in the name
      #     vault operator raft snapshot save backup_${timestamp}.snap

      # - name: Install Azure CLI
      #   run: |
      #     sudo apt-get update && sudo apt-get install -y azure-cli

      # - name: Upload Backup to Azure Storage
      #   run: |
      #     # Replace 'your-storage-account-name' and 'your-container-name' with your Azure Storage Account and Container names
      #     az storage blob upload --account-name your-storage-account-name --account-key ${{ secrets.AZURE_STORAGE_ACCOUNT_KEY }} --container-name your-container-name --type block --name backup_${timestamp}.snap --type block --content-type application/octet-stream --content-encoding gzip --type block --file /path/to/backup_${timestamp}.snap
 
